.section_medium_work_h2{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
   width: 262px;
   margin-left: 40%;
}
.section_medium_work_p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    width: 719px;
    align-items: center;
    margin-left: 21%;
    padding-top: 20px;
}
.section_medium_work{
    text-align: center;
    margin-top: 130px;
    
}
.medium_box_h3{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
}
.medium_box_p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 493px;
    padding-top: 10px;
}
.section_medium_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
   margin-top: 50px;
}
.medium_box_btn{
    padding: 8px 18px;
    border-radius: 5px;
    border: 1px solid #00BAFC;
    color: #fff;
    background-color: #00BAFC;
   width: 167px;
   margin-left: 45%;
   margin-top: 80px;
}
.medium_box_btn_link{
    color: #fff;
}